/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.footer__copyright {
  font-size: 0.85em;
  opacity: 0.7;
}

.gtm-theme-list {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat( 3, 1fr);
}

@media (max-width: 996px) {
  .gtm-theme-list {
    grid-template-columns: repeat( 1, 1fr);
  }
}

.gtm-theme-list-item {
  border: 1px solid var(--ifm-color-emphasis-200);
  box-shadow: 0 1.5px 3px 0 rgba(0,0,0,.15);
}

.gtm-theme-list-item:hover img {
  filter: brightness(0.8);
}

.gtm-theme-list-item img {
  display: block;
  transition: all 0.3s;
}

.gtm-theme-list-item h3 {
  margin-top: 1em;
  padding-left: 2rem;
  padding-right: 2rem;
}

.gtm-theme-list-item p {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: .8rem;
  color: var(--ifm-color-emphasis-800);
}